@import "../mainUtil";

.student {
  background: darken($white, 5%);
  //min-height: calc(100vh - 50px - 70px);
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 !important;

  .detail_wrapper {

  }

  &.loaded {
    align-items: self-start;
  }

  .hero {
    margin-bottom: .5rem;
    border-bottom: 1px solid $lightestBlack;

    .cover {
      padding: 1rem;
      background-image: url('/hero.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 120px;

      .alt {
        display: none;
      }

      .back {
        color: $white;
        font-weight: 600;
        font-size: 90%;
        display: inline-flex;
        align-items: center;
        text-decoration: none;

        span {
          font-family: 'remixicon' !important;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: .5rem;
          @include defaultTransition;

          &:before {
            content: "\ea60";
          }
        }

        &:hover, &:active, &:focus {
          span {
            margin-left: .5rem;
            margin-right: 0;
          }
        }
      }
    }

    .profile {
      // margin-top: -50px;
      padding: 1rem;
      background-color: $white;

      .profile_image {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin-top: -80px;
        background-color: $white;
        padding: .5rem;
        margin-bottom: .5rem;
        @include borderRadius(50%);

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .profile_info {
        .name {
          font-size: 1.25rem;
          display: flex;
          align-items: center;
          margin-bottom: .25rem;
        }

        .grade {
          margin: 0;
          font-size: 90%;
          color: lighten($black, 40%);
        }
      }
    }
  }

  .detail {
    padding: 1rem;
    background-color: $white;
    border-bottom: 1px solid $lightestBlack;
    margin-bottom: .5rem;

    h2 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .details_wrapper {
      .detail_item {
        display: flex;
        flex-direction: column;
        margin-bottom: .75rem;

        > label {
          font-size: 1rem;
          margin-bottom: 0;
        }

        @include breakpoint(768px) {
          flex-direction: row;

          > label {
            width: 200px;
          }
        }
      }
    }
  }

  .penalties {
    padding: 1rem;
    background-color: $white;
    border-bottom: 1px solid $lightestBlack;

    h2 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .penalties_wrapper {
      .detail_item {
        border-bottom: 1px solid $lightestBlack;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        .item_top {
          margin-bottom: .5rem;

          span {
            font-size: 90%;

            strong {
              font-weight: 500;
            }
          }
        }

        .item_body {
          margin-bottom: .5rem;

          blockquote {
            margin: 0;
            quotes: "“" "’";
            border-left: 4px solid darken($white, 30%);
            padding-left: 0.75rem;

            &:before {
              color: #ccc;
              content: open-quote;
              font-size: 2rem;
              line-height: 1;
              margin-left: -0.5rem;
            }

            p {
              margin: -1.5rem 0 0 .5rem;
            }
          }
        }

        .item_bottom {
          ul {
            margin: 0;
            list-style: square !important;
            padding-left: 1rem;

            li {
              margin: 0;
              font-size: 90%;

              &::marker {
                color: orange;
              }
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
          padding-bottom: 0;
        }
      }

      .empty {
        margin: 0;
        font-size: 90%;
      }
    }
  }
}