@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: 'Quicksand', sans-serif;
  background-color: $light;
}

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color;
    color: $white !important;
  }
}

button {
  @include defaultTransition;

  &:active,
  &:focus {
    @include zoom(.95);
    outline: none;
  }
}

.outline {
  border-color: rgba($white, .5) !important;
  color: $white !important;
}

.outline-invert {
  color: $default_black !important;
  border-color: rgba($black, .1) !important;

  @each $name, $color in $colors {
    &.#{$name} {
      background-color: transparent;
      border-color: $color !important;
      color: $color !important;
    }
  }
}