$white: #fff !default;
$black: #000 !default;
$default_black: lighten($black, 20%) !default;
$light: darken($white, 2.5%) !default;
$dark: lighten($black, 30%) !default;
$main: #336577 !default;
$main_dark: #452345 !default;
$success: #337733 !default;
$warning: #ff7733 !default;
$danger: #bb3333 !default;

$colors: ('main':$main, 'success':$success, 'warning':$warning, 'danger':$danger);

$frow-enable-buttons: true;

$lightestBlack: rgba($black, .1);