@import "mainUtil";

.account_panel {
  min-height: calc(100vh - 50px - 70px);

  h2 {
    margin-bottom: 1rem !important;
  }

  .side_wrapper {
    background: darken($white, 5%);
    border: 1px solid $lightestBlack;
    @include defaultBorderRadius;
    margin-bottom: 1rem;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: .5rem 1rem;

        a {
          text-decoration: none;
        }
      }
    }
  }

  .content_wrapper {

  }
}