@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "mainUtil";
@import "~frow/dist/frow.css";
@import "remixicon/remixicon.css";

html, body {
  font-family: 'Quicksand', sans-serif;
  @media (prefers-color-scheme: dark) {
    background: lighten($black, 12.5%);
    color: $default_black_dark;
  }
}