@import "mainUtil";

.top_nav_wrapper {
  position: relative;

  .top_nav {
    display: flex;
    align-items: center;
    height: 50px;
    @include defaultTransition;
    background: $white;

    .cols_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo_wrapper {
        .link_home {
          display: flex;
          align-items: center;
        }
      }

      .button_wrapper {
        display: flex;
        justify-content: flex-end;

        .button_login {
          text-decoration: none;
          background: $main;
          color: $white;
          padding: .5rem 1.5rem;
          border: 1px solid darken($main, 5%);
          @include boxShadow;
          @include defaultBorderRadius;
          @include defaultTransition;

          &:hover, &:active, &:focus {
            background: darken($main, 5%);
            border-color: darken($main, 10%);
          }

          &.logout {
            background: $danger !important;
            border-color: darken($danger, 5%);
          }

          &.clear {
            background: transparent !important;
            color: $default_black;
            border: none !important;
            box-shadow: none !important;
          }
        }

        .nav_wrapper {
          position: relative;

          .profile_info {
            width: 32px;
            height: 32px;
            background-size: contain;
            border: 1px solid $lightestBlack;
            @include borderRadius(1.5rem);
            @include defaultTransition;
            box-shadow: none;

            button {
              width: 100%;
              height: 100%;
              background: transparent;
              border: none;
            }
          }

          .nav_box {
            border: 1px solid $lightestBlack;
            position: absolute;
            top: calc(32px + .25rem);
            right: 0;
            width: 250px;
            height: 270px;
            background: $white;
            z-index: 1000;
            overflow: hidden;
            @include boxShadow;
            @include defaultBorderRadius;
            @include defaultTransition;

            .nav_profile_wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              background: darken($white, 5%);
              padding: 1rem;

              .nav_profile {
                width: 80px;
                height: 80px;
                background-size: contain;
                @include borderRadius(40px);
                margin-bottom: .75rem;
                border: 1px solid $lightestBlack;
              }

              p {
                margin: 0;
                font-weight: 700;
                text-align: center;

                span {
                  font-weight: 400;
                  display: block;
                  color: lighten($default_black, 20%);
                  font-size: 80%;
                }
              }
            }

            .nav_list {
              padding: 1rem;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;

              ul {
                background: $white;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                  margin-bottom: .5rem;

                  a {
                    font-size: 90%;
                    text-decoration: none;
                  }

                  &:last-child {
                    border-top: 1px solid $lightestBlack;
                    padding-top: .5rem;
                    margin-bottom: 0;

                    button {
                      background: transparent;
                      border: none;
                      padding: 0;
                      color: $danger;
                      font-size: 90%;
                    }
                  }
                }
              }
            }
          }

          &.nav_close {
            .profile_info {
              @include boxShadow;
            }

            .nav_box {
              width: 0;
              height: 0;
            }
          }
        }
      }
    }

    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      //background: $white;
      //border-bottom: 1px solid $lightestBlack;
      @include boxShadow;
    }
  }
}

.section {
  padding: 3rem 0;

  .inner {
    h2.title {
      margin-bottom: 3rem;
      font-size: 1.5rem;
      line-height: 1.3;
    }
  }

  @include breakpoint(768px) {
    .inner {
      h2.title {
        font-size: 2rem;
        margin-bottom: 4rem;
      }
    }
  }

  @include breakpoint(992px) {
    .inner {
      h2.title {
        margin-bottom: 6rem;
        font-size: 2.5rem;
      }
    }
  }
}

.title {
  margin-bottom: 2rem;
}

p.info {
  border: 1px solid $warning;
  background-color: lighten($warning, 35%);
  font-size: 90%;
  padding: 1rem;
  margin: -1rem 0 2rem;
  @include borderRadius(.5rem);
}

.footer {
  background: darken($white, 5%);

  .p_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;

    p {
      font-size: 80%;
      margin: 0 !important;
    }
  }
}